<!DOCTYPE html>
<html ng-app="TwoBeWed">
  <head>
    <title>TwoBeWed App</title>
    <link rel="stylesheet" href="libs/bootstrap-3.3.5-dist/css/bootstrap.css" />
    <meta charset="utf-8" />
  </head>
  <body>
    <section style="max-height: 500px; width: 400px; margin: auto; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 2px solid black; padding: 10px; border-radius: 10px;">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign Up</a></li>
        <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
      </ul>
      <section class="tab-content">
        <form class="tab-pane active" id="signup" role="tabpanel" ng-controller="signup as new" ng-submit="new.signup()" novalidate>
          <fieldset>
            <section class="form-group">
              <label>Name</label>
              <input class="form-control" type="text" required ng-model="new.name"> <br>
            </section>
            <section class="form-group">
              <label for="" placeholder="">Email</label>
              <input class="form-control" type="email" required ng-model="new.email"> <br>
            </section>
            <section class="form-group">
              <label for="" placeholder="">Username</label>
              <input  class="form-control"type="text" required ng-model="new.username"> <br>
            </section>
            <section class="form-group">
              <label for="" placeholder="">Password</label>
              <input  class="form-control"type="password" required ng-model="new.password"> <br>
            </section>
            <button class="btn btn-default" type="submit">Sign Up</button>
          </fieldset>
        </form>
        <!-- Initial Angular Files -->
        <form class="tab-pane" id="login" role="tabpanel" class="form-group" ng-controller="login as old" ng-submit="old.login()" novalidate ng-submit="">
          <fieldset>
            <section class="form-group">
              <label>Username</label>
              <input class="form-control" type="text" required ng-model="old.username"> <br>
            </section>
            <section class="form-group">
              <label>Password</label>
              <input class="form-control" type="password" required ng-model="old.password"> <br>
            </section>
            <button class="btn btn-default" type="submit">Log In</button>
          </fieldset>
        </form>
      </section>
    </section>
    <!-- jquery -->
    <script type="text/javascript" src="libs/jquery/dist/jquery.js"></script>
    <!-- bootstap  -->
    <script type="text/javascript" src="libs/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <!-- Angular Core and Extras -->
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular-resource/angular-resource.js">
    </script>
    <script type="text/javascript" src="libs/angular-route/angular-route.js">
    </script>
    <script type="text/javascript" src="libs/angular-cookies/angular-cookies.js">
    </script>
    <script type="text/javascript" src="libs/angular-bootstrap/ui-bootstrap.js">
    </script>
    <!-- Angular Modules -->
    <script type="text/javascript" src="app/client(frontend)/app.js"></script>
    <!-- Angular Controllers -->
    <script type="text/javascript" src="app/client(frontend)/user/controllers/signup.controller.js">
    </script>
    <script type="text/javascript" src="app/client(frontend)/user/controllers/login.controller.js">
    </script>
    <!-- Angular Services -->

  </body>
</html>