<section ng-cloak>
  <md-tabs style="overflow: scroll">
    <md-tab label="New Client">
      <form name="newClient" novalidate
      ng-submit="newClient$valid && client.add()" >
        <fieldset>
          <md-input-container>
            <label>Client Name</label>
            <input class="form-control" type="text"
            ng-model="client.newclient.name"/>
          </md-input-container>
          <md-input-container>
            <label>Phone Number</label>
            <input class="form-control" type="tel"
            ng-model="client.newclient.contact.phoneNumber">
          </md-input-container>
          <md-input-container>
            <label>Email</label>
            <input class="form-control" type="email"
            ng-model="client.newclient.contact.email">
          </md-input-container>
          <md-input-container>
            <label>Address</label>
            <input class="form-control" type="text"
            ng-model="client.newclient.contact.address">
          </md-input-container>
          <md-input-container>
            <label>Wedding Date</label>
            <input type="date" ng-model="client.newclient.weddingDate">
          </md-input-container>
        </fieldset>
        <fieldset>
          <md-input-container>
            <label>Main Package</label>
            <select placeholder="Choose from our packages" class="form-control"
            ng-model="client.newclient.package.main">
              <option>Too Good Two be True</option>
              <option>Two is Better Than One</option>
              <option>Two by Two</option>
              <option>Let's Get Two-gether</option>
              <option>Take Two</option>
            </select>
          </md-input-container>
          <section flex="30" ng-repeat="option in client.options">
            <md-checkbox
            ng-click="client.insert(option, client.newclient.package.extras)">
            {{option}}</md-checkbox>
            <!-- ng-checked="client.exists(option, client.newclient.package.extras)" -->
          </section>
        </fieldset>
        <fieldset class="form-inline" >
          <md-input-container>
            <label>City</label>
            <input class="form-control" type="text"
            ng-model="client.newclient.location.city">
          </md-input-container>
          <md-input-container>
            <label>Preferred Venue</label>
            <input class="form-control" type="text"
            ng-model="client.newclient.location.preferredVenue">
          </md-input-container>
        </fieldset>
        <button ng-click="client.add()" class="btn btn-primary btn-lg btn-block"
         type="submit">Add Client</button>
      </form>
      {{client.newclient}}
    </md-tab>
    <md-tab>
      <md-tab-label><span ng-click="client.getAll()" >Clients</span></md-tab-label>
      <md-tab-body>
        <table style="width: 100%;"
        class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
          <thead>
            <tr class="">
              <th class="mdl-data-table__cell--non-numeric">Client Name</th>
              <th>Wedding Date</th>
              <th>Package</th>
              <th>Assigned Planner</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="one in client.clients">
              <td class="mdl-data-table__cell--non-numeric">{{one.name}}</td>
              <td>{{one.weddingDate | date: d-MMM-yyyy}}</td>
              <td>{{one.package.main}}</td>
              <td>{{one.planner}}</td>
              <td>
                <span>
                  <i class="actions material-icons">view</i>
                  <md-tooltip>
                    view
                  </md-tooltip>
                </span>
                <span>
                  <i class="actions material-icons"
                  ng-click="client.getOne(one)">edit</i>
                  <md-tooltip>
                    Edit
                  </md-tooltip>
                </span>
                <span>
                  <i class="actions material-icons"
                  ng-click="client.deleteOne(one)">delete</i>
                  <md-tooltip>
                    Delete
                  </md-tooltip>
                </span>

              </td>
            </tr>
          </tbody>
        </table>
      </md-tab-body>
    </md-tab>
    <!-- <tab heading="Client Details"></tab> -->
  </md-tabs>
</section>