body {
  max-width: 100%;
}

body > header {
  position: fixed;
  display: block;
  height: 10%;
  width: 100%;
  background-color: teal;
  z-index: 9999;
}

nav > ul > li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}

section, fieldset, header, nav {
  display: block;
}

nav {
  position: relative;
  float: right;
  vertical-align: middle;
  height: 100%;
  width: 60%;
}

ul {
  margin : 0;
  padding: 0;
  list-style: none;
}

#contacts {
  display: block;
  float: left;
  width: 50%;
}

#contacts > * {
  display: block;
  width: 100%;
  padding-right: 5px;
}

datepicker {
  display: block;
  width: 50%;
  float: right;
}